*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    min-height: 100vh;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
}
table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
table th{
    padding: 10px;
    background-color: #808a9e;
    border: thin solid #d4d4d4;
    text-align: left;
}
table td{
    padding: 10px;
    border: thin solid;
    width: 18%;
    text-align: left;
    background-color: #fff;

}